@using HamburgerUI.Models.VMs;
@model CartIngredientVM

@{
    ViewData["Title"] = "SepeteEkle";
}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                
                    <h1>Sepet</h1>
                </div>
            </div>
        </div>
    </div>
</div>


@if (TempData["result"] is not null)
{

    <div class="alert alert-success">
        @TempData["result"]
    </div>
}

<form asp-action="SiparisiOnayla">

    <div class="cart-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="product-image">Product Image</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-total">Çıkartılacak Malzemeler</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.CartItems.Count; i++)
                                {
                                    <tr class="table-body-row">
                                        <td>
                                            @Html.HiddenFor(modelItem => Model.CartItems[i].CartItemId)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].CartItemId)
                                        </td>
                                        <td>

                                            @Html.HiddenFor(modelItem => Model.CartItems[i].CartId)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].CartId)
                                        </td>
                                        <td>

                                            @Html.HiddenFor(modelItem => Model.CartItems[i].ProductId)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].ProductId)
                                        </td>
                                        <td class="product-image"><img src="@Model.CartItems[i].Product.ImagePath" alt=""></td>
                                        <td class="product-name">
                                            @Html.HiddenFor(modelItem => modelItem.CartItems[i].Product.ProductName)
                                            @Html.DisplayFor(modelItem => modelItem.CartItems[i].Product.ProductName)
                                        </td>
                                        <td class="product-price">
                                         @*    @Html.HiddenFor(modelItem => Model.CartItems[i].Product.Price)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].Product.Price) *@
                                            @Model.CartItems[i].Product.Price
                                        </td>
                                        <td class="product-price">
                                            <button class="btn btn-success" asp-action="Arttir" asp-route-id="@Model.CartItems[i].CartItemId">+</button>
                                            @Html.HiddenFor(modelItem => Model.CartItems[i].Quantity)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].Quantity)
                                            <button class="btn btn-danger" asp-action="Azalt" asp-route-id="@Model.CartItems[i].CartItemId">-</button>
                                        </td>
                                        <td class="product-total">
                                            @Html.HiddenFor(modelItem => Model.CartItems[i].TotalPrice)
                                            @Html.DisplayFor(modelItem => Model.CartItems[i].TotalPrice) ₺
                                        </td>
                                        <td id="ingredientsCheckboxList">

                                            @foreach (var item in Model.ProductDetailsDTOs[i].Ingredients)
                                            {
                                                <input type="checkbox" name="selectedIngredients[@Model.CartItems[i].CartItemId]" value="@item.IngredientId" />
                                                @item.IngredientName
                                                <span class="selected-ingredient" style="display:none;"></span>
                                            }
                                            <input type="hidden" id="selectedIngredients" name="selectedIngredients" value="" />
                                          
                                            
                                   </td>
                                    </tr>

                                }



                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-6">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th>Total</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-data">
                                    <td><strong>Total: </strong></td>
                                    <td>
                                        @{
                                            decimal totalPrice = 0;
                                        }
                                        @for (int i = 0; i < Model.CartItems.Count; i++)
                                        {
                                            totalPrice += (@Model.CartItems[i].Product.Price*Model.CartItems[i].Quantity);
                                        }
                                        @totalPrice ₺
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <button type="submit" class="btn btn-outline-warning">Tümünü Onayla</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>
-